/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}


.chatbot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #b4f070;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.chat-window {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.message {
  margin: 5px 0;
}

.message.user {
  text-align: right;
  color: #4a90e2;
}

.message.bot {
  text-align: left;
  color: #333;
}

/* Contenedor para alinear los botones en la misma fila */
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Estilo específico para el botón Sí (azul) */
button.yes-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Azul */
  color: #fff;
  cursor: pointer;
}

/* Estilo específico para el botón No (marrón) */
button.no-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #8b4513; /* Marrón */
  color: #fff;
  cursor: pointer;
}

/* Estilo específico para el botón Reiniciar */
button.reset-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #d9534f; /* Rojo */
  color: #fff;
  cursor: pointer;
}
